{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'registration.css'%}">
{% endblock %}
{% block content %}
<div class="login_form">
    <h1>Login</h1>
        <form method="post">
            <p>{{form.username}}</p>
            <p>{{form.password}}</p>
        
            <p style="color: red">{{errors}}</p>
            {{other_errors}}
            {% csrf_token %}
            <button type="submit" class="button_to_submit">Ok</button>
    </form>
    <a class="redirect_to_log_reg" href="{% url 'registration' %}">First? Registration</a>
</div>
{% endblock %}
{% block script %} 
<script src="{% static 'js/formErrors' %}"></script>
{% endblock %}