{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'registration.css'%}">
{% endblock %}
{% block content %}
<div class="registration_form">
    <h1>Registration</h1>
        <form method="post" class="form">    
            <p>{{form.username}}</p>
            <p>{{form.email}}</p>
            <p>{{form.password1}}</p>
            <p>{{form.password2}}</p>
            <p class="form_errors">{{errors}}</p>
            {% csrf_token %}
            <button type="submit" class="button_to_submit">Ok</button>
        </form>
    <a class="redirect_to_log_reg" href="{% url 'login' %}"> Already have an account? Login</a>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/formErrors.js' %}"></script>

<script></script>
{% endblock %}