
/* форма логина */
.registration_form {
    display:flex;
    flex-direction: column;
    position: relative;
    margin-top:20vh;
    margin-left: 20vw;
    margin-right: 20vw;
    resize: vertical, horizontal;
    padding: 4em 5em;
    border: 1.5px solid black;
    border-radius: 1em;
    overflow: auto;
}

.login_form {
    display:flex;
    flex-direction: column;
    position: relative;
    
    margin-top:20vh;
    margin-left: 20vw;
    margin-right: 20vw;
    resize: vertical, horizontal;
    padding: 4em 5em;
    border: 1.5px solid black;
    border-radius: 1em;
    overflow: auto;
}


.button_to_submit {
    background-color: white;
    border: 1px solid black;
    font-size: 1em;
}

.redirect_to_log_reg {
    font-style: none;
    margin-bottom:auto;
    padding-top: 2%;
    padding-bottom: auto;
}